/*
 * colors for the new theme
 */
body.theme-eye-piercer {
    --theme-color1: #ff6262;
    --theme-color2: #ff626252;
    --theme-gradient-color1: #ff6262;
    --theme-gradient-color2: #ff0000;
}



